src/main/resources/xsd/flights.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://petour.com/flights"
           targetNamespace="http://petour.com/flights"
           elementFormDefault="qualified">

    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="origin" type="xs:string"/>
                <xs:element name="destination" type="xs:string"/>
                <xs:element name="departureDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchResultResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hasError" type="xs:boolean"/>
                <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
                <xs:element name="flightOptions" type="tns:Flight" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Flight">
        <xs:sequence>
            <xs:element name="flightNo" type="xs:string"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="destination" type="xs:string"/>
            <xs:element name="departuredatetime" type="xs:dateTime"/>
            <xs:element name="arrivaldatetime" type="xs:dateTime"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>